/* **************************************************
    PRINCIPAL STYLES 
************************************************* **/
:root{
    --background-color: #E2FFDB;
    --highlight-color: #D9A5CC;
    --extralight-color: #8C4F7E;
    --primary-color: #658C5D;
    --header-color: #AFDAA5;
    --body-color: #000000;
}
body{
    background-color: var(--background-color);
    font-family: 'Oswald', sans-serif;
    line-height: 1.19;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* **************************************************
    HEADER CONTACT 
************************************************* **/
/* **************************************************
    MAIN
************************************************* **/
main{
    margin: 1rem;
}
/* **************************************************
    CONTACT
************************************************* **/


/* **************************************************
    A
************************************************* **/



/* **************************************************
    FOOTER
************************************************* **/


/* **************************************************
    ANIMATIONS 
************************************************* **/

/* --- ||| END HAMBURGER MENU ||| --- */

/* --- H --- */


/* **************************************************
    RESPONSIVE 
************************************************* **/
/* --- 900PX --- */
@media (max-width: 900px){
    /* --- H --- */    
}

/* --- 800PX --- */
@media (max-width: 800px){
    /* --- H --- */    
}

/* --- 700PX --- */
@media (max-width: 700px){
    /* --- MENU STATUS --- */

}

/* --- 500PX --- */
@media (max-width: 500px){
    /* --- TRIANGULE --- */
}

/* **************************************************
    END? 
************************************************* **/
