{% extends 'layout.html' %}

{% block title %}
    Contact
{% endblock %}


{% block content %}

    {% comment %} {% include 'partials/_why.html' %} {% endcomment %}
    <div class="contact_container">
        <h1>Contact</h1>
        <h2>Misión</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur aliquam quod voluptates, obcaecati eos incidunt officia error molestias quasi consequuntur rerum accusantium eum, minus veritatis! Similique doloribus quo officiis maxime.
        </p>
        <h2>Visión</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur aliquam quod voluptates, obcaecati eos incidunt officia error molestias quasi consequuntur rerum accusantium eum, minus veritatis! Similique doloribus quo officiis maxime.
        </p>
        <h2>Sobre nosotros</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur aliquam quod voluptates, obcaecati eos incidunt officia error molestias quasi consequuntur rerum accusantium eum, minus veritatis! Similique doloribus quo officiis maxime.
        </p>
        <div class="contacts-container">
            <div class="contact-container">
                <a href="">
                    <img src="https://esgaelramos.xyz/assets/whatsapp.svg" alt="" style="width: 70px;">
                    <span>¡WhatsApp Ya!</span>
                </a>
            </div>
            <div class="contact-container">
                <a href="">
                    <img src="https://esgaelramos.xyz/assets/mail.svg" alt="" style="width: 70px;">
                    <span>¡Mail Talvez?</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
