{% extends 'layout.html' %}

{% block title %}
    My Library
{% endblock %}


{% block content %}

    {% comment %} {% include 'partials/_why.html' %} {% endcomment %}
    <div class="books_container">
        <div class="table">
            <div class="searcher">
                <form method="GET">
                    <div class="input-grup">
                        <input type="text" placeholder="Buscar" name="search">
                        <button type="submit"> 
                            Buscar
                        </button>
                        <button type="reset" name="reset-search"> 
                            Reset
                        </button>

                    </div>
                </form>    
            </div>
            <h1>Book List</h1>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>API</th>
                        <th>Code</th>
                        <th>Book</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Editorial</th>
                        <th>Genre</th>
                        <th colspan="2" id="opciones" >Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td class="center-table">{{ forloop.counter }}</td>
                        <td class="center-table" id="api-table"><a href="/api/books/{{ book.slug }}">API</a></td>
                        <td>{{ book.code }}</td>
                        <td id="table-book">{{ book.book }}</td>
                        <td>{{ book.author }}</td>
                        <td class="center-table">${{ book.price }}</td>
                        <td>{{ book.editorial }}</td>
                        <td class="center-table">{{ book.genre }}</td>
                        <td class="center-table link-edit"><a href="admin/library/book/{{ book.code }}/change/" class="btn btn-info">Editar</a></td>
                        <td class="center-table link-edit" id="delete-link"><a href="deleteBook/{{ book.code }}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
