{% extends 'layout.html' %}

{% block title %}
    Literature
{% endblock %}


{% block content %}

    {% comment %} {% include 'partials/_why.html' %} {% endcomment %}
    <div class="books_container">
        <h1>Literature</h1>
        <hr>
        <div class="blog-container">
            <h2>The Importance of Literature in Modern Society</h2>
            <p>
                It forms an important part of our education, but Sophie Austin wants to know how does it fit in to our everyday life?
                <br><br>
                Ever since I was small, stories have been a part of my life. Reading books like The Tales of Peter Rabbit and The Very Hungry Caterpillar before bed became a part of my natural order where I could escape into another world.  To say the least, not much has changed and on most nights, I love to read - to find that escape away from reality.
                <br><br>
                But, literature is more than that. It has transcended time and is still with us, forming critical parts of today’s curriculums. So, what relevance does literature have in modern society?
                <br><br>
                For the majority of people around the world, our first serious encounter with literature comes from school. Reading and writing has been drilled in all of us from an early age and this is set in motion with the start of examinations.
                <br><br>
                Being able to empathise with a group of characters written on a page is categorical and from a student’s perspective a necessary skill.  Additionally, the ability to sense themes and messages opens us up to another way of thinking. Literature becomes a vessel. The 130 million books which have been published around the world are guides for the reader and generate a bridge for them to learn something new.
                <br><br>            
            </p>

            <h2>Literature within history</h2>
            <p>
                History is not only a gateway to the past, it’s also suggestive of our present and the future. Within every time period lies different people and within them, different stages in our ever-growing culture. Each individual before was a product of their own time. As a species we evolve every day and without that timestamp that literature gives us, we would know nothing about the past.
                <br><br>            
                Literature allows a person to step back in time and learn about life on Earth from the ones who walked before us. We can gather a better understanding of culture and have a greater appreciation of them. We learn through the ways history is recorded, in the forms of manuscripts and through speech itself. 
                <br><br>
                In periods from ancient Egypt, we can gather their history through hieroglyphics and paintings. The symbols Egyptians left behind are what we now use to understand their culture. This is different to Greek and Roman culture, which is found with greater ease, because of their innate desire for accuracy in their writing.
                <br><br>
                This is the power that words have. They have the ability to spark a meaning, reform a nation and create movements while being completely eternal. Inevitably, they will outlive their speaker.
                <br><br>
            </p>
            
            <h2>The impact of literature</h2>
            <p>
                The impact of literature in modern society is undeniable. Literature acts as a form of expression for each individual author. Some books mirror society and allow us to better understand the world we live in.  
                <br><br>
                Authors like F.Scott Fitzgerald are prime examples of this as his novel The Great Gatsby was a reflection of his experiences and opinions of America during the 1920s.
                <br><br>            
                We are easily connected to the psyche of authors through their stories. However, literature also reiterates the need to understand modern day issues like human conflict.
                <br><br>
                A Gulf News article says, “In an era of modern media, such as television and movies, people are misled into thinking that every question or problem has its quick corrections or solutions. However, literature confirms the real complexity of human conflict”.
                <br><br>
                Literature is a reflection of humanity and a way for us to understand each other. By listening to the voice of another person we can begin to figure out how that individual thinks. I believe that literature is important because of its purpose and in a society, which is becoming increasing detached from human interaction, novels create a conversation.
                <br><br>            
                Have we piqued your interest a little? Why not check out our selection of writing and literature courses!
                <br><br>
            </p>
        </div>
    </div>
{% endblock %}
